[defaults]
stdout_callback = debug
host_key_checking = False
vault_password_file = ./vault-client.sh
inventory = inventory
roles_path = ./roles
# Prevent deprecation warning 'INJECT_FACTS_AS_VARS default to `True` is deprecated':
inject_facts_as_vars = True

[ssh_connection]
pipelining=True
ssh_args=-C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null

[paramiko_connection]
record_host_keys = False
